@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-accent: #10b981;
}

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: ui-sans-serif, system-ui, sans-serif;
  min-height: 100vh;
}
